html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    font-family: Tahoma;
    font-size: small;
    margin-top: 3px;
}

a img{
	border:0;
}

header {

	width: 100%;
	vertical-align: middle;
	
}

table {
	table-layout:fixed;
}

.table2 {
	width: inherit;
}


td {
	white-space: nowrap; 
	font-family: Tahoma; 
	font-size: small; 
	width: 225px;
}


.td1 {
	width: 325px;
}

.td2 {
	width: 100px;
}


.td3 {
	width: 115px;
}

.td4 {
	width: 200px;
}
		
.td5 {
	margin-right:auto;
	width:inherit
}	

td.space-hog {
	width: 100%;
	height: 100%;
}

.info-window-content b {
	color: green;
	font-size: 15px;
	margin-bottom: 5px;
	margin-right: 8px;
	display: inline-block;
}

.info-window-content ul {
	margin-top: 20px;
	list-style: none;
	padding-left: 0;
	font-size: 11px;
	padding: 10px;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	background: rgb(237, 242, 230);
}

.info-window-content p {
	margin: 0;
	font-size: 12px;
}

/*{{{ Fixes https://github.com/GatineauOuverte/parcs/issues/9 */
div[style*="opacity: 0.7"] {
	opacity: 1 !important;
}
/* }}} */

/* {{{ About dialog theme */
.ui-widget-overlay {
	opacity: 0.5;
}

.ui-dialog {
	background: white;
}

.ui-dialog-title {
	color: green;
}

.ui-dialog-titlebar {
	background: #EDF2E6 !important;
	border: 0 !important;
}

.ui-dialog-titlebar-close {
	background: inherit !important;
	border: 0 !important;
	padding: 1px !important;
}

.ui-dialog-titlebar-close .ui-icon {
	background: url("../lib/jquery-ui/css/south-street/images/ui-icons_847e71_256x240.png");
	background-position: -96px -128px;
}

/* }}} */

#map {
    height: 62%;
    width: 99%;
}

#installations {
	height: 15%;
  	width: 100%;
  	margin-bottom: 2px;
}

#sectors {
	margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
}

#sectors input {
  margin-left:10px;
}

#footer {
	margin-bottom: 2px;
	margin-right: 5px;
    width: 100%;
    float:right;
}

#header-actions {
	text-align: right;
	width: 250px;
	font-size: 15px;
}

#header-actions a {
	margin-left: 10px;
	color: green;
	text-decoration: none;
	font-size: 15px;	
}

#header-actions a:hover {
	color: rgb(13, 45, 33);
}

#about-dialog {
	display: none;
	font-family: Tahoma;
    font-size: small;
}