body {
    background-color:white;
    font-family:Tahoma;
    font-size: small
}

td {font-family: arial; font-size: small; width: 230}

#map {
    height: 65%;
    width: 100%;
}

#installation {
    height: 35%;
    width: 100%;
}